header {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #011D53;
}

.left_menu {
    display: flex;
}

.left_menu a {
    color: #fff;
    padding-right: 70px;
    font-size: 18px;
    font-weight: 500;
}

.left_menu a:last-child {
    padding-right: 0;
}

.right_menu {
    display: flex;
}

.right_menu a {
    width: 30px;
    height: 30px;
}

.right_menu a img {
    width: 100%;
}

.right_menu a:first-child {
    margin-right: 50px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* header--------------------------------------------------- */

.section_1 {
    height: 970px;
    background-image: url(../img/sec1img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.sec1text {
    position: absolute;
    bottom: 100px;
    left: 150px;
}

.sec1title {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -2px;
    padding-bottom: 50px;
}

.sec1btnWrap {
    display: flex;
}

.sec1btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
}

.sec1btn a {
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
}

.sec1btn1 {
    background-color: #111;
    margin-right: 10px;
}

.sec1btn1 a {
    color: #fff;
}

/* section_1---------------------------------------------- */

.section_2 {
    padding: 0;
}

.sec2title {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.sec2title p {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 30px;
}

.sec2title h2 {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -2px;
    padding-bottom: 90px;
}

.section_2 img {
    width: 100%;
}

/* section_2----------------------------------------------- */

.section_3 h2 {
    padding-top: 100px;
    font-size: 80px;
    font-weight: 500;
    padding-bottom: 50px;
}

.trimWrap {
    width: 100%;
}

.trimWrap input {
    display: none;
}

.tabTitle>label {
    display: block;
    float: left;
}

.tab {
    width: 300px;
    height: 80px;
    border: 1px solid #e8e8e8;
    border-radius: 40px;
    line-height: 80px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-right: 30px;
}

#prestige:checked ~ .tabTitle>.tab_1 {
    border-color: #011D53;
}

#rLine:checked ~ .tabTitle>.tab_2 {
    border-color: #011D53;
}

.prestigeCon {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.tabContent .tabConTitle {
    font-size: 24px;
    font-weight: 400;
    color: #11111180;
}

.tabContent .tabConCon {
    font-size: 24px;
    font-weight: 500;
}

.trimImg {
    width: 100%;
}

.trimImg img {
    width: 100%;
}

.trimColor {
    width: 550px;
    margin: auto;
}

.colorWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.colorWrap img {
    width: 12%;
}

.colorWrap img:first-child {
    border: 3px solid #011D53;
    border-radius: 50%;
}

.colorName {
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.trimPrice {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.trimPrice p {
    font-size: 18px;
    font-weight: 500;
}

.trimPrice h4 {
    font-size: 32px;
    font-weight: 800;
}

/* .section_3----------------------------------- */

.section_4, .section_5 {
    background-color: #000;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 160px;
}

.sectitle h2 {
    font-size: 80px;
    font-weight: 500;
    padding-bottom: 50px;
}

.sectitle p {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 100px;
    line-height: 50px;
}

.section_4>img, .section_5>img {
    width: 100%;
    padding-bottom: 50px;
}

.swiperText {
    padding-top: 30px;
    text-align: start;
}

.swiperText>h5 {
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 500;
}

.swiperText>p {
    font-size: 18px;
    line-height: 36px;
    padding-bottom: 70px;
}

.swiper-scrollbar {
    background: #585858;
}

.swiper-scrollbar-drag {
    background: #fff;
}

/* .section_4,.section_5-------------------------------------- */

.section_6, .section_7 {
    padding-top: 100px;
}

.section_6>h2, .section_7>h2 {
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 50px;
}

.gallery-top .swiper-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    color: #585858;
}

.gallery-top .swiper-slide>img {
    width: 50%;
}

.sec6swipertext, .sec7swipertext {
    width: 50%;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

/* .section_6, .section_7---------- thumbsnail swiper 왜 안됨 이거 어떻게 같이 움직여요? 왜 제 건 안돼요? */

.section_8 {
    background-color: #011D53;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 140px;
    text-align: center;
}

.sec8title h2 {
    font-size: 80px;
    font-weight: 700;
    padding-bottom: 30px;
}

.sec8title p {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 70px;
}

.sec8btn {
    width: 140px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: auto;
}

.sec8btn a {
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    font-weight: 400;
}

/* .section_8---------------------------------- */

footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
}

.footerMenuTitle {
    font-size: 16px;
    font-weight: 600;
    color: #011D53;
}

.footermenu {
    padding-top: 20px;
}

.footermenu a {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #111;
}

.sns {
    display: flex;
    align-items: center;
}

.sns li {
    padding-left: 10px;
}

.sns li:first-child {
    padding: 0;
}

.sns a {
    width: 40px;
}

.sns img {
    width: 100%;
}

.quickMenu {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quickMenu a {
    padding-right: 40px;
    font-size: 15px;
    font-weight: 400;
    color: #111;
}

.copyright {
    color: #011D53;
    font-size: 15px;
    font-weight: 300;
}